@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    background: #121214;
    color: #e1e1e6;

    border: 1px solid red;
}

#container {
    margin-top: 8rem;
    width: 80%;
    max-width: 460px;
    margin-inline: auto;

    border: 1px solid red;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    opacity: 0.9;
}

p {
    margin-bottom: 2rem;
    opacity: 0,7;
}

input, button {
    display: block;
    width: 100%;
    
}